# Dependencies
node_modules/
.pnpm-store/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
coverage/

# Production
dist/
build/
out/
.next/
web-build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# GitHub
.github/*
!.github/workflows

# Environment
.env
.env.*
!.env.example

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa
*.apk

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Prisma
prisma/.env
*.db
*.db-journal

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js

# Misc
.cache/
.temp/
*.log
